@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-squares{
  background-color: #e5e5f7;
background-image:  linear-gradient(#444cf7 0.06000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #444cf7 0.05px, #e5e5f7 0.6000000000000001px);
background-size: 12px 12px;
}